*{

    margin: 0;
    padding: 0;
    

}

.color{

    background: blue;
    color: yellow;
    margin: auto;
    height: 30px;
    padding: 4px;
    font-size: 12px;
}



.margin{

    margin-left: 20px;
}

.navbar{

    background-color: blue;
}

.color1 a{

    color: white;
}

.btn{

    border-radius: 5px black solid;
}

.cont{

    background-color: orange;
}

.text h3{ 

    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.text{

    text-align: center;
}

.sect{

    background-color: orange;
    padding: 15px;
}


.form{

    background-color: lightskyblue;
    overflow-x: none;
    padding: 5px;
}

.head{

    background-color: gray;
    width: 100%;
}

.labl{


    align-items: center;

}

.email{

    width: 30%;
}

.container1{

    border-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
}
.mm{

    display: flex;
}


.sider{


    position: fixed;
    top: 30px;
    right: 0;
    width: 200px;
    height: 100vh;
    z-index: 999;
    background-color:blue;
    backdrop-filter: flur(10px);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: none;

}

.sider a{

    color: white;
}


@media(max-width: 1000px){

    .hide{

        display: none;
    }
}